ion-menu::part(backdrop) {
  background-color: rgba(26, 24, 31, 0.856);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(219, 187, 6, 0.18);
}
// .fundo{
//   --background-image:var(--background-image)
//   --background-image:url('https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2023/05/26/2005858053-supermariobrosmovie.jpg')
// }