ion-content{
  --background: rgb(217,4,43);
  --background: linear-gradient(90deg, rgba(217,4,43,1) 16%, rgba(9,3,166,1) 100%, rgba(4,217,36,1) 100%);
}

.imagem{
  background-image: url('https://assetsio.reedpopcdn.com/super-mario-bros-movie-review.webp?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp');
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;

  }

.divisor{
  height: 50vh;
  overflow: hidden;
  align-items: center;

}

