<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-row>
    <input type="text" class="ajustar">
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="light" mode="ios" (click)="exibir(105)">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="light" mode="ios" (click)="exibir(106)">+/-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="light" mode="ios" (click)="exibir(107)">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(100)">/</ion-button>
      </ion-col>  
    </ion-row>    
  
    <ion-row>
      <ion-col> 
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(7)">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(8)">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(9)">9</ion-button>
      </ion-col>
       <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(101)">*</ion-button>
       </ion-col> 
     </ion-row>  
     


    <ion-row>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(4)">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(5)">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(6)">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(102)">-</ion-button>
      </ion-col>    
  </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(1)">1</ion-button>
      </ion-col>   
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(2)">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(3)">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(103)">+</ion-button>
      </ion-col>     
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" color="medium" mode="ios" (click)="exibir(109)">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(108)">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="primary" mode="ios" (click)="exibir(104)">=</ion-button>
      </ion-col>
    </ion-row>

    

  
</ion-content>
