<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criar Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row >
    <ion-col>
      <img src="https://images.pexels.com/photos/163314/hot-air-balloon-balloon-sky-hot-air-balloon-ride-163314.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-col>

    <ion-col size = "6" class="formulario" >

      <ion-row class="ion-justify-content-center">
        <ion-col size = "6" class="ion-text-center">
          <h1>Criar Conta </h1>
        </ion-col>
      </ion-row>
      

      <ion-list>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item>
              <ion-input label="Email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item>
              <ion-input label="Nome" value=""></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item>
              <ion-input label="Senha" value=""></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>      
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item>
              <ion-input label="Confirmar senha" value=""></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        

      </ion-list>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="success">Criar Conta</ion-button>
        </ion-col>
      </ion-row>

       <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          Login com 
        </ion-col>
      </ion-row>
      
         
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
          <ion-button color="primary">Facebook</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center" >
            <ion-button color="secondary">Twitter</ion-button>
          </ion-col>
        </ion-row>   
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button color="danger">Google</ion-button>
          </ion-col>
        </ion-row>

    </ion-col>
  </ion-row>


 

</ion-content>
