<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-col size="12">
      <ion-segment value="default">
        
        <ion-segment-button value="brasil">
          <ion-label>Brasil</ion-label>
        </ion-segment-button>

        <ion-segment-button value="china">
          <ion-label>China</ion-label>
        </ion-segment-button>

        <ion-segment-button value="india">
          <ion-label>Índia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="mexico">
          <ion-label>México</ion-label>
        </ion-segment-button>

        <ion-segment-button value="jordania">
          <ion-label>Jordânia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="italia">
          <ion-label>Itália</ion-label>
        </ion-segment-button>

        <ion-segment-button value="peru">
          <ion-label>Peru</ion-label>
        </ion-segment-button> 
      </ion-segment>

    </ion-col>
  </ion-row>
  
  <!-- Cards do Brasil -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/13911606/pexels-photo-13911606.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/9548742/pexels-photo-9548742.jpeg?auto=compress&cs=tinysrgb&w=600">
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/12343767/pexels-photo-12343767.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>

  </ion-row>

  <!-- Cards da China -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1423580/pexels-photo-1423580.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/2304791/pexels-photo-2304791.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/2412603/pexels-photo-2412603.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>

  </ion-row>

<!-- Cards India-->
<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1260801/pexels-photo-1260801.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2413613/pexels-photo-2413613.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

</ion-row>

<!-- Cards jordania-->
<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/14743453/pexels-photo-14743453.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/11424172/pexels-photo-11424172.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

</ion-row>

<!-- Cards italia-->
<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1701595/pexels-photo-1701595.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2760519/pexels-photo-2760519.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

</ion-row>

<!-- Cards Peru-->
<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2929906/pexels-photo-2929906.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5503237/pexels-photo-5503237.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/3706960/pexels-photo-3706960.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

</ion-row>

<!-- Cards Mexico-->
<ion-row>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/12046436/pexels-photo-12046436.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://media.istockphoto.com/id/481272289/pt/foto/templo-de-el-castillo-de-chichen-itz%C3%A1-ao-p%C3%B4r-do-sol-m%C3%A9xico.jpg?b=1&s=612x612&w=0&k=20&c=pPyEwljbDRY_Sh8wcCTlV7Zmsb8fEM5EP895jB7pp4M=">
    </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/11642317/pexels-photo-11642317.jpeg?auto=compress&cs=tinysrgb&w=600">
    </ion-card>
  </ion-col>

</ion-row>



  
</ion-content>
